<!-- file name : error.ejs
    Name : Fatemeh Ebrahimi
   Student ID : 301324302
	Date : 09-06-2023 -->

<%- include ('partials/header.ejs') %> 

 
<%- include ('partials/main_nav.ejs') %>

<div class='container'>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>



<%- include ('partials/footer.ejs') %>
